<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="upc.epe.dao.tiendavirtual.mapper.VentaMapper">
	<resultMap id="VentaMap" type="upc.epe.dao.tiendavirtual.domain.Venta">
		<result column="id" property="srlId" jdbcType="INTEGER"/>
		<result column="id_usuario" property="intIdUsuario" jdbcType="INTEGER"/>
		<result column="total" property="dblTotal" jdbcType="DOUBLE"/>
		<result column="fecha" property="timFecha" jdbcType="TIMESTAMP"/>
	</resultMap>
	<select id="selectByDefaultParameter" resultMap="VentaMap" parameterType="upc.epe.dao.tiendavirtual.domain.VentaParamDef">
		select
		<if test="distinct" >
			distinct
		</if>
		<include refid="Base_Column_List" />
		from tiendavideos.tventa as tab
		<if test="_parameter != null" >
			<include refid="Parameter_Default_Where_Clause" />
		</if>
		<if test="orderByClause != null" >
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="VentaMap" parameterType="upc.epe.dao.tiendavirtual.domain.VentaKey" >
		select 
		<include refid="Base_Column_List" />
		from tiendavideos.tventa as tab
		where 1 = 1
		and id = #{srlId,jdbcType=INTEGER}
	</select>

	<select id="lastSequence" resultType="java.lang.Integer">
		select currval('tiendavideos.tventa_id_seq')
	</select>

	<insert id="insertSelective" parameterType="upc.epe.dao.tiendavirtual.domain.Venta">
		insert into tiendavideos.tventa
		<trim prefix="(" suffix=")" suffixOverrides=",">
			id_usuario,
			total,
			fecha,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<choose>
				<when test="intIdUsuario != null">
					#{intIdUsuario, jdbcType=INTEGER},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>
			<choose>
				<when test="dblTotal != null">
					#{dblTotal, jdbcType=DOUBLE},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>
			<choose>
				<when test="timFecha != null">
					#{timFecha, jdbcType=TIMESTAMP},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="upc.epe.dao.tiendavirtual.domain.Venta">
		update tiendavideos.tventa
		<set>
			<choose>
				<when test="intIdUsuario != null">
					id_usuario = #{intIdUsuario,jdbcType=INTEGER},
				</when>
				<otherwise>
					id_usuario = null,
				</otherwise>
			</choose>
			<choose>
				<when test="dblTotal != null">
					total = #{dblTotal,jdbcType=DOUBLE},
				</when>
				<otherwise>
					total = null,
				</otherwise>
			</choose>
			<choose>
				<when test="timFecha != null">
					fecha = #{timFecha,jdbcType=TIMESTAMP},
				</when>
				<otherwise>
					fecha = null,
				</otherwise>
			</choose>
		</set>
		where 1 = 1
		and id = #{srlId,jdbcType=INTEGER}
	</update>
	<delete id="deleteByPrimaryKey" parameterType="upc.epe.dao.tiendavirtual.domain.VentaKey">
		delete from tiendavideos.tventa
		where 1 = 1
		<if test="srlId != null">
		and id = #{srlId,jdbcType=INTEGER}
		</if>
	</delete>
	<!-- Criterios de seleccion -->
	<sql id="Parameter_Default_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or" >
				<if test="criteria.valid" >
					<trim prefix="(" suffix=")" prefixOverrides="and" >
						<foreach collection="criteria.criteria" item="criterion" >
							<choose >
								<when test="criterion.noValue" >
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue" >
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue" >
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue" >
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		<![CDATA[id, 
id_usuario, 
total, 
fecha]]>
	</sql>
</mapper>